body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(33, 33, 33);
}

#menu-button {
  margin-right: 25px;
}

#youtube-logo-wrapper {
  display: flex;
}

#youtube-logo {
  max-width: 25px;
  margin-right: 5px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.actions-wrapper {
  margin-right: 10px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-input {
  width: 550px;
  padding: 6px;
  font-size: medium;
  background-color: #181818;
  border: 1px solid #2e2e2e;
  color: white;
}

#keyboard-button {
  position: relative;
  right: 40px;
}

#search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  width: 60px;
  height: 100%;
  margin-left: -24px;
}

.hoverable:hover {
  cursor: pointer;
}

.navbars {
  position: fixed;
  width: 100%;
  height: calc(100% - 57px);
  z-index: 1;
}

.navbar-container {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar {
  background-color: rgba(33, 33, 33, 0.95);
  padding: 12px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-center {
  display: flex;
  position: relative;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  padding-top: 10px;
  width: 240px;
  height: 100%;
  background-color: #212121;
  color: white;
  font-size: 14px;
  overflow-y: scroll;
}

.sidebar-container {
  position: fixed;
  margin-top: 57px;
  height: 100%;
}

.settings-section {
  padding-bottom: 80px;
}

.sidebar-title {
  padding: 10px;
  padding-left: 30px;
  color: #949494;
  font-weight: bold;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
}

.sidebar-item:hover {
  background-color: #353535;
}

.sidebar-item-icon {
  margin-right: 20px;
  color: #838383;
}

.channel-image {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.divider {
  margin: 10px 0px;
  border-bottom: 0.5px solid #353535;
}

.content-container {
  padding-left: 240px;
  padding-top: 57px;
}

.content {
  background-color: #181818;
  color: white;
  padding: 25px;
  padding-left: 200px;
}

.content-section-title {
  font-weight: bold;
  margin-bottom: 25px;
}

.content-video {
  position: relative;
  display: flex;
  max-width: 850px;
  margin: 15px 0px;
}

.content-video-thumbnail {
  width: 250px;
  max-height: 130px;
  object-fit: cover;
  margin-right: 20px;
}

.content-video-title {
  font-size: x-large;
}

.content-video-details {
  display: flex;
  font-size: small;
  color: #949494;
  margin-bottom: 10px;
}

.content-video-details div:first-child {
  margin-left: 0px;
}

.content-video-details div:last-child {
  margin-right: 0px;
}

.content-video-details div {
  margin: 0px 5px;
}

.content-video-description {
  font-size: small;
  color: #949494;
}
