#sidebar {
    grid-area: sidebar;
    background-color: #1f1f23;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#sidebar .top-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
}

#sidebar .top-section>span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
}