.modal-container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.45);
}

.close-modal {
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
}

.modal {
    background-color: #fff;
    width: 840px;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    display: flex;
}

.modal-image {
    height: 600px;
    width: 500px;
    object-fit: cover;
}

.modal-content-section {
    width: 100%;
}

.modal-top-section {
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid rgb(220, 220, 220);;
}

.modal-top-section img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.modal-username {
    font-weight: 600;
}