.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 4px;
    height: 28px;
    width: 28px;
    color: white;
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.icon-button .number {
    position: absolute;
    left: 5px;
    bottom: 15px;
    border: 2px solid black;
    background-color: #e91916;
    padding: 1.5px 7px;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 0.8rem;
}

.icon-button:hover .tooltip {
    visibility: visible;
    transition-delay: 0.2s;
}

.icon-button .tooltip {
    position: absolute;
    visibility: hidden;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    color: black;
    font-family: "Roboto";
    font-weight: 500;
    white-space: nowrap;
    transition: visibility;
}

.icon-button .tooltip::after {
    content: " ";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.icon-button .tooltip-bottom {
    top: 150%;
}

.icon-button .tooltip-bottom::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent white transparent;
}

.icon-button .tooltip-right {
    left: 150%;
}

.icon-button .tooltip-right::after {
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-color: transparent white transparent transparent;
}