.tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
    background-color: #779556;
}

.tile:nth-child(16n + 1),
.tile:nth-child(16n + 3),
.tile:nth-child(16n + 5),
.tile:nth-child(16n + 7),
.tile:nth-child(16n + 10),
.tile:nth-child(16n + 12),
.tile:nth-child(16n + 14),
.tile:nth-child(16n + 16) {
    background-color: #ebecd0;
}

.tile .chess-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

.tile img {
    width: 80px;
}

.tile-highlight:not(.chess-piece-tile)::before {
    content: " ";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.tile-highlight.chess-piece-tile::before {
    position: absolute;
    content: " ";
    width: 90px;
    height: 90px;
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
