.video {
    display: flex;
}

.video video {
    width: 520px;
}

.video .side-menu {
    display: grid;
    grid-template-areas: "profile-picture username" "profile-picture category" "profile-picture watchers" "tags tags" "description description";
    grid-template-columns: 64px auto;
    grid-template-rows: 20px 20px 20px 40px auto;
    padding: 10px;
    width: 220px;
    background-color: #18181b;
}

.video .side-menu .profile-picture {
    grid-area: profile-picture;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.video .side-menu .username {
    grid-area: username;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.85;
}

.video .side-menu .username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.video .side-menu .category {
    grid-area: category;
    color: var(--primary-color);
    font-size: 0.85rem;
}

.video .side-menu .category:hover {
    text-decoration: underline;
    cursor: pointer;
}

.video .side-menu .watchers {
    grid-area: watchers;
    font-size: 0.85rem;
}

.video .side-menu .tags {
    grid-area: tags;
}

.video .side-menu .tags>.button {
    margin: 0px 2px;
}

.video .side-menu .description {
    grid-area: description;
    font-size: 0.8rem;
}