@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root {
    --profile-picture-size: 48px;
    --icon-color: #777777;
}

.app {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#009788 200px, #d9dbd6 200px);
}

.icon-clickable:hover {
    cursor: pointer;
}