.posts-wrapper .post {
  display: grid;

  width: 100%;

  grid-template-columns: 1fr 12fr;
  grid-template-rows: 1fr auto 1fr;

  margin: 10px 0px;

  grid-template-areas:
    "post-sidebar post-title"
    "post-sidebar post-body"
    "post-sidebar post-footer";

  background-color: white;
}

.posts-wrapper .post:hover {
  cursor: pointer;
}

.posts-wrapper .post .post-sidebar {
  grid-area: post-sidebar;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 5px;

  background-color: rgb(245, 245, 245);
}

.posts-wrapper .post .post-sidebar > svg {
  color: rgb(130, 130, 130);
}

.posts-wrapper .post .post-sidebar > svg:hover {
  border-radius: 2px;

  background-color: rgb(220, 220, 220);
}

.posts-wrapper .post .post-sidebar > .upvote:hover {
  color: rgb(200, 0, 0);
}

.posts-wrapper .post .post-sidebar > .downvote:hover {
  color: var(--primary-color);
}

.posts-wrapper .post .post-sidebar > span {
  font-weight: 600;
  font-size: 13px;
}

.posts-wrapper .post .post-title {
  grid-area: post-title;

  display: flex;

  align-items: center;
}

.posts-wrapper .post .post-body {
  grid-area: post-body;
}

.posts-wrapper .post .post-footer {
  grid-area: post-footer;
  align-items: center;

  display: flex;
  padding-left: 5px;

  color: rgb(130, 130, 130);
}

.posts-wrapper .post .post-title > img {
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;

  margin: 0px 5px;
  border-radius: 50%;
}

.posts-wrapper .post .post-title > .subreddit-name {
  font-weight: 600;
  font-size: 12px;
}

.posts-wrapper .post .post-title > .subreddit-name:hover {
  text-decoration: underline;
}

.posts-wrapper .post .post-title > .post-user {
  padding-left: 5px;
  font-size: 12px;

  color: rgb(150, 150, 150);
}

.posts-wrapper .post .post-title > .underline:hover {
  text-decoration: underline;
}

.posts-wrapper .post .post-title > .button {
  margin: 8px;
  padding: 4px 8px;

  font-size: 11px;
}

.posts-wrapper .post .post-body > .title {
  margin-left: 5px;

  font-size: 18px;
  font-weight: 600;
}

.posts-wrapper .post .post-body > img {
  object-fit: cover;
  object-position: center;

  max-height: 500px;
  width: 100%;
}

.posts-wrapper .post .post-body > .description {
  margin-top: 10px;
  margin-left: 5px;

  display: block;
}

.posts-wrapper .post .post-footer .footer-action {
  display: flex;
  align-items: center;
  margin: 0px 5px;
  padding: 3px;
}

.posts-wrapper .post .post-footer .footer-action:first-child {
  margin-left: 0px;
}

.posts-wrapper .post .post-footer .footer-action:last-child {
  margin-right: 0px;
}

.posts-wrapper .post .post-footer .footer-action svg {
  margin-right: 5px;
}

.posts-wrapper .post .post-footer span {
  font-size: 14px;
  font-weight: 600;
}

.posts-wrapper .post .post-footer svg {
  font-size: 16px;
}

.posts-wrapper .post .post-footer .footer-action:hover {
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
}
