.primary-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.primary-link:hover {
    color: var(--primary-color);
}

.secondary-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.secondary-link:hover {
    text-decoration: underline;
}

.tertiary-link {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.1rem;
    text-decoration: none;
}

.tertiary-link:hover {
    color: var(--primary-color);
}