.profiles-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;

  display: flex;

  height: 100vh;
}

.profiles-container > .title {
  color: white;
  font-family: inherit;
  font-size: 68px;

  user-select: none;
}

.profiles-container > .profiles {
  display: flex;
}

.profiles-container > .profiles > .profile {
  display: flex;
  flex-direction: column;

  margin: 0px 20px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.profiles-container > .profiles > .profile:first-child {
  margin-left: 0px;
}

.profiles-container > .profiles > .profile:last-child {
  margin-right: 0px;
}

.profiles-container > .profiles > .profile:hover {
  cursor: pointer;
}

.profiles-container > .profiles > .profile:hover > .username {
  color: white;
}

.profiles-container > .profiles > .profile:hover > .image {
  border: 5px solid rgb(100, 100, 100);
}

.profiles-container > .profiles > .profile > .image {
  margin-bottom: 15px;

  width: 200px;
  height: 200px;

  border: 5px solid transparent;
}

.profiles-container > .profiles > .profile > .username {
  text-align: center;

  color: var(--grey-color);
  font-size: 24px;
}
