.button-container {
    border: 1px solid var(--grey-color);
    padding: 10px 40px;

    background: none;
    color: var(--grey-color);

    font-size: 24px;
    letter-spacing: 2px;
}

.button-container:hover {
    border: 1px solid white;

    color: white;
    cursor: pointer;
}