.chatbox {
    display: grid;
    grid-template-areas: "navigation details" "navigation chat" "search chat" "list chat" "list message";
    grid-template-rows: 90px 70px 80px auto 90px;
    grid-template-columns: 35% auto;
    margin: 5vh 0px;
    width: 1300px;
    background-color: aliceblue;
}

.chatbox .navigation {
    grid-area: navigation;
    background-color: aqua;
}

.chatbox .details {
    grid-area: details;
    background-color: green;
}

.chatbox .search {
    grid-area: search;
    background-color: red;
}

.chatbox .chat {
    grid-area: chat;
    background-color: blue;
}

.chatbox .list {
    grid-area: list;
    background-color: purple;
}

.chatbox .message {
    grid-area: message;
    background-color: lime;
}