.chatbox {
    display: grid;
    grid-template-areas: "navigation details" "navigation chat" "search chat" "list chat" "list message";
    grid-template-columns: 35% auto;
    margin: 5vh 0px;
    width: 1300px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.chatbox-navigation-open {
    /* Navigation height of the open navigation state*/
    grid-template-rows: 90px calc(200px - 5vh - 90px) 80px auto 90px;
}

.chatbox-navigation-closed {
    /* Navigation height of the closed navigation state*/
    grid-template-rows: 90px 0px 80px auto 90px;
}

.chatbox-navigation-open .navigation-section {
    grid-area: navigation;
    display: flex;
    align-items: flex-end;
    background-color: #01bfa5;
}

.chatbox-navigation-open .navigation-section .back {
    padding-bottom: 15px;
    padding-left: 30px;
    color: white;
    font-size: 2rem;
}

.chatbox-navigation-open .navigation-section .new-chat {
    padding: 15px;
    padding-left: 25px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.chatbox-navigation-closed .navigation-section {
    grid-area: navigation;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 3px;
    background-color: #eeeeee;
}

.chatbox-navigation-closed .navigation-section .profile-picture {
    margin-left: 25px;
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    border-radius: 50%;
}

.chatbox-navigation-closed .navigation-section .actions>svg {
    margin-right: 25px;
    color: var(--icon-color);
    font-size: 1.6rem;
}

.chatbox>.details-section {
    grid-area: details;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 3px;
    background-color: #eeeeee;
    border-left: 1px solid #e7e7e7;
}

.chatbox .search-section {
    position: relative;
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e7e7e7;
}

.chatbox .search-section label {
    position: absolute;
    display: flex;
    left: 40px;
}

.chatbox .search-section label>svg {
    color: #afafaf;
}

.chatbox .search-section input {
    padding: 12px;
    padding-left: 80px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 3px;
    width: 70%;
    background-color: white;
    outline: none;
}

.chatbox .search-section input:focus {
    border: 1px solid rgb(220, 220, 220);
}

.chatbox .search-section input::placeholder {
    font-family: Roboto;
    font-size: 0.85rem;
    color: var(--icon-color);
}

.chatbox .chat-section {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 100px;
    background-color: #e4ddd7;
}

.chatbox .list-section {
    grid-area: list;
    overflow-y: scroll;
    border-bottom-left-radius: 3px;
    background-color: white;
}

.chatbox .list-section .contact:last-of-type .details {
    padding-bottom: 0px;
    border: none;
}

.chatbox .message-section {
    grid-area: message;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 3px;
    background-color: #f0efed;
}

.chatbox .message-section>svg {
    flex: 0.1;
    color: var(--icon-color);
    font-size: 2rem;
}

.chatbox .message-section>.message-input {
    flex: 0.8;
    border: none;
    border-radius: 5px;
    padding: 20px;
    outline: none;
    font-size: 1rem;
    font-family: Roboto;
}