@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
:root {
    --primary-color: #9147ff;
    --navbar-height: 50px;
    --sidebar-width: 230px;
}

#landing {
    display: grid;
    grid-template-areas: "navbar navbar" "sidebar content";
    grid-template-columns: var(--sidebar-width) auto;
    grid-template-rows: var(--navbar-height) auto;
    height: 100vh;
}

.vertical-divider {
    height: 65%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}