:root {
  --border-radius: 3px;
  --primary-color: rgb(0, 120, 210);
  --light-grey: rgb(245, 245, 245);
}

body {
  background-color: #dae0e6;
}

.spacer {
  flex: 1;
}

.hoverable:hover {
  cursor: pointer;
}