#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: blue;
}

#chessboard .tile {
    width: 100px;
    height: 100px;
}

#chessboard .black-tile {
    background-color: #779556;
}

#chessboard .white-tile {
    background-color: #ebecd0;
}