#content {
    padding: 0px 30px;
    padding-top: 25px;
    background-color: #0e0e10;
    color: white;
    font-family: "Roboto", sans-serif;
}

#content .video-slideshow {
    position: relative;
    height: 300px;
    width: 100%;
}

#content .video-slideshow>.icon-button:first-of-type {
    position: absolute;
    top: 50%;
    left: 50px;
}

#content .video-slideshow>.icon-button:last-of-type {
    position: absolute;
    top: 50%;
    right: 50px;
}

#content .video-slideshow>.video {
    position: absolute;
    left: calc(50% - 380px);
    transition: all 300ms ease-in-out;
}

#content .video-slideshow>.video-left-2 {
    z-index: 1;
    transform: translateX(-65%);
    scale: 0.75;
}

#content .video-slideshow>.video-left-1 {
    z-index: 2;
    transform: translateX(-30%);
    scale: 0.85;
}

#content .video-slideshow>.video-center {
    z-index: 3;
}

#content .video-slideshow>.video-right-1 {
    z-index: 2;
    transform: translateX(30%);
    scale: 0.85;
}

#content .video-slideshow>.video-right-2 {
    z-index: 1;
    transform: translateX(65%);
    scale: 0.75;
}

#content .channels {
    margin-top: 50px;
}

#content .channels>.title {
    font-size: 1.2rem;
    font-weight: 500;
}

#content .channels .videos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 15px;
}

#content .channels .videos .video-bottom video {
    width: 100%;
}