.sign-in-button {
    align-items: center;

    display: inline-flex;

    border: 1px solid #3EA6FF;
    border-radius: 3px;
    padding: 5px 10px;

    background: none;
    color: #3EA6FF;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
}

.sign-in-button:hover {
    cursor: pointer;
}

.sign-in-button > svg {
    margin-right: 5px;
    font-size: 26px;
}