.comment-container {
    display: flex;
    margin-bottom: 24px;
}

.comment-container .username {
    margin-right: 5px;
}

.comment-details {
    margin-top: 8px;
    font-size: 13px;
    color: rgb(150, 150, 150);
    font-weight: 600;
}

.comment-details span:first-child {
    margin-right: 10px;
}