.main-bar {
  flex: 0.7;
}

.main-bar .popular-posts-title {
  font-weight: 600;
}

.main-bar .update-card {
  background-color: white;
  padding: 15px;
  border-radius: var(--border-radius);
  border: 1px solid rgb(200, 200, 200);
  margin-top: 15px;
}

.main-bar .update-card .top-section {
  display: flex;
  justify-content: space-between;
}

.main-bar .update-card .top-section span {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.main-bar .update-card .top-section svg {
  font-size: 18px;
  color: rgb(150, 150, 150);
}

.main-bar .update-card .top-section svg:hover {
  background-color: rgb(230, 230, 230);
  color: black;
  border-radius: var(--border-radius);
}

.main-bar .update-card .body {
  margin: 15px 20px;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
}

.main-bar .update-card .body:hover {
  border: 1px solid rgb(150, 150, 150);
}

.main-bar .update-card .body .context .title {
  font-weight: 600;
  font-size: 18px;
}

.main-bar .update-card .body .context .description {
  font-size: 13px;
  color: rgb(100, 100, 100);
  padding-right: 25px;
}

.main-bar .update-card .body img {
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
  margin-right: 15px;
}

.main-bar .filter-container {
  display: flex;
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid rgb(200, 200, 200);
  padding: 10px 15px;
  margin-top: 15px;
}

.main-bar .filter-container .filter-element {
  display: flex;
  color: var(--primary-color);
  background-color: var(--light-grey);
  border-radius: 20px;
  padding: 5px 8px;
  margin: 0px 5px;
  font-size: 15px;
  align-items: center;
  font-weight: 600;
}

.main-bar .filter-container .filter-element:first-child {
  margin-left: 0px;
}

.main-bar .filter-container .filter-element-secondary {
  display: flex;
  align-items: center;
  color: rgb(150, 150, 150);
  padding: 5px 8px;
  margin: 0px 5px;
}

.main-bar .filter-container .filter-element-secondary svg {
    margin-right: 5px;
}

.main-bar .filter-container .filter-element-secondary:hover {
  color: black;
  background-color: var(--light-grey);
  border-radius: 20px;
}

.main-bar .filter-container .filter-element-tertiary {
  color: rgb(150, 150, 150);
  padding: 5px 8px;
  margin: 0px 5px;
}

.main-bar .filter-container .filter-element-tertiary:hover {
  background-color: var(--light-grey);
  border-radius: 50%;
}

.main-bar .filter-container .filter-element-menu {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  padding: 5px 8px;
}

.main-bar .filter-container .filter-element-menu:hover {
  background-color: var(--light-grey);
  border-radius: 20px;
}
