#App .Paddle {
  position: absolute;
  height: 400px;
  width: 50px;
  background-color: purple;
}

#App .Ball {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: yellow;
}