.button {
    padding: 7px 35px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    font-weight: bold;
    font-size: 12px;
}

.button:hover {
    cursor: pointer;
}

.primary-button {
    background-color: var(--primary-color);
    color: white;
}

.primary-button:hover {
    background-color: rgb(125, 190, 255);
    border: 1px solid rgb(125, 190, 255);
}
.secondary-button {
    color: var(--primary-color);
}